In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(
       {"a" : [4 ,5, 6],
       "b" : [7, 8, 9],
       "c" : [10, 11, 12]},
       index = [1, 2, 3])

In [5]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [9]:
df[["c","b"]]

    c  b
1  10  7
2  11  8
3  12  9

In [10]:
df.loc[1]

a     4
b     7
c    10
Name: 1, dtype: int64

In [11]:
df.loc[3]

a     6
b     9
c    12
Name: 3, dtype: int64

In [12]:
df.loc[3, "a"]

6